body{
    background-color: black;
}
h1{
    align-items: center;
    color:white;
    font-weight: bold;
    margin-left: 780px;
    padding: 20px;

}
p{
    font-weight: bolder;
    line-height: 33px;
    word-spacing: 3px;
    color: white;
}
